h1{
  color: red;
}

.allList{
  display: flex;
  flex-wrap: wrap;
}
.list{
  
}

.card{
  display: flex;
  border: solid black 1px;
  border-radius:  0 10px 10px 0;
  width: 420px;
  height: auto;
  margin: 10px;
  text-decoration: none;
  color: black;
  
}

.card img{
  width: 250px;
  height: 400px;
  border-radius:  0 10px 10px 0;
  object-fit: cover;
  
}

.card div{
  margin: 10px;
}


form{
  display: flex;
  flex-direction: column;
}

form div{
  margin: 10px;
}

span{
  color: red;
}